.dash-content .container:before {
    content: none !important;
}
.my-profile {
    display: flex;
}
.my-profile .left-sidebar {
    width: 300px;
}
.address p {padding: 0px;}

.my-profile i {
    color: #15cfbc;
    padding-right: 5px;
}
.my-profile .main-profile {
    padding-left: 25px;
    flex-grow: 1;
}
.my-profile .img-container {
    width: 250px;
    height: 250px;
    position: relative;
}
.my-profile i.edit-profile-icon.img {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.my-profile .profile_picture {
    border-radius: 200px;
    max-width: 246px;
}
.my-profile .profile-columns {
    display: flex;
    flex-grow: 1;
}
h6#profile-title {
    font-size: 24px;
    margin-bottom: 30px;
}
.my-profile .profile-columns .employment-forms {
    margin-right: 20px;
}
.my-profile .profile-columns .employment-forms .timesheet {
    display: none;
}
.my-profile .profile-columns .employment-forms .timesheet.active {
    display: block;
}
.my-profile .forms-list {
    display: flex;
    flex-wrap: wrap;
}
.my-profile .forms-list .form {
    flex: 1 0 35%
}
.my-profile button, .edit-profile-icon {
    cursor: pointer;
}
.my-profile .skills-checklist {
    display: none;
    position: fixed;
    overflow-y: scroll;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}
.my-profile .skills-checklist.active {
    display: block;
}
.my-profile .skills-checklist .skills-checklist-content {
    margin: auto;
    width: 500px;
    background: #fff;
    padding: 20px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
.close-skills-checklist {
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.job-summary {
    display: flex;
    margin-top: 50px;
}
.job-summary .content {
    margin-left: 20px;
}
.job-summary .content h2 {
    margin-bottom: 10px;
}
.job-summary .content p {
    line-height: 25px;
    padding-bottom: 0px;
}
.job-summary .img {
    max-width: 150px;
}
.job-container i, .job-summary i {
    margin-right: 5px;
}
.search-results ul.grid-search li:before {
    content: none;
}
.profile-upload i {
    color: #e33b2a;
}
.upload-item p {
    padding-bottom: 0px;
}
.preferences-form .acf-fields > .acf-field {
    padding: 0px;
}
.preferences-form .acf-field-true-false {
    display: flex;
    flex-direction: row-reverse;
}
.preferences-form .acf-field-true-false .acf-label {
    flex-grow: 1;
    padding-left: 5px;
}
.preferences-form .acf-field .acf-label {
    margin: 0px;
}
.preferences-form .acf-input select {
    margin-bottom: 10px;
}
@media (max-width: 950px) {
    .profile-columns {
        flex-direction: column;
    }
    #employment-resources-buttons {
        margin-top: 20px;
    }
}
@media (max-width: 750px) {
    .my-profile .left-sidebar {
        width: 100%;
    }
    .my-profile {
        flex-direction: column-reverse;
    }
    .profile-columns {
        flex-direction: row;
    }
}
.search-container form.searchandfilter {
    display: none;
}
.search-container.active form.searchandfilter {
    display: block;
}
form.searchandfilter ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0px !important;
}
form.searchandfilter ul li {
    flex: 1 0 100%;
    width: 100%;
    margin: 10px 0px
}
form.searchandfilter ul li:before {
    content: none;
}
form.searchandfilter ul li input, form.searchandfilter ul li select {
    width: 100%;
}
@media (max-width: 600px) {
    .profile-columns {
        flex-direction: column;
    }
    #employment-resources-buttons {
        margin-top: 20px;
    }
}